<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Admin Page</title>
</head>
<body>
<h1>Welcome to the Admin Page</h1>
<p>Here, you can perform administrative actions.</p>

<h2>Add Portfolio Item</h2>
<form id="addPortfolioForm" enctype="multipart/form-data">
    <div class="form__group field">
        <input type="text" placeholder="Information" name="information" id="information" required />
        <label for="information" >Information</label>
    </div>
    <div class="form__group field">
        <textarea class="form__field" placeholder="Description" name="description" id="description" required></textarea>
        <label for="description">Description</label>
    </div>
    <label for="files" class="form-label">Files:</label><br>
    <input type="file" class="form-control" id="files" name="files" multiple accept="image/*, video/*"><br> <!-- Removed "required" attribute -->
    <button type="submit">Create a Post</button>
</form>

<h2>Portfolio Items</h2>
<div id="portfolioItems">
    <!-- Portfolio items will be displayed here dynamically -->
</div>

</body>
<script src="../admin.js"></script>
</html>
