<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>User Portfolio</title>
</head>
<body>
<div class="header">
    <h1>Welcome to My Portfolio</h1>
    <button onclick="location.href='/register';"><i class="fa-solid fa-arrow-right-to-bracket"></i> Register</button>
</div>
<div class="portfolio">
    <h2>Portfolio</h2>
    <div class="portfolio-item">
        <h3>Project 1</h3>
        <p>Description of Project 1</p>
    </div>
    <div class="portfolio-item">
        <h3>Project 2</h3>
        <p>Description of Project 2</p>
    </div>
</div>
<footer>
    <a href="https://instagram.com/yiromo"><i class="fa-brands fa-instagram"></i></a>
</footer>
</body>
<script src="../script.js"></script>
<script src="https://kit.fontawesome.com/2d3632a15c.js" crossorigin="anonymous"></script>
</html>
