body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1a1a1a; /* Dark background color */
    color: #ccc; /* Light text color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #333; /* Dark grey header background */
    padding: 30px 20px; /* Increased padding for better spacing */
    text-align: center;
    color: #fff; /* White text color */
}

.header h1 {
    margin: 0;
    font-size: 2.5rem; /* Increased font size for header */
}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 20px;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
}

.portfolio,
.portfolioStatic {
    background-color: #333; /* Dark grey background color */
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1); /* Soft shadow */
}

.portfolio h2,
.portfolioStatic h2 {
    margin-top: 0;
    margin-bottom: 20px; /* Increased margin bottom for better spacing */
    font-size: 2rem; /* Increased font size for section headings */
    color: #fff; /* White text color */
    text-align: center;
}

.portfolio-item h3 {
    margin-top: 0;
    font-size: 1.8rem; /* Increased font size for project titles */
}

.portfolio-item p {
    font-size: 1.4rem; /* Font size for project descriptions */
    color: #ccc; /* Light gray text color */
}

footer {
    background-color: #333; /* Dark grey background color */
    padding: 20px;
    text-align: center;
    color: #fff; /* White text color */
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    background-color: #0070c9; /* Apple's Blue */
    color: #fff;
    font-size: 1.4rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005ea6;

}

input[type="email"],
input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #555; /* Dark grey border */
    border-radius: 8px; /* Rounded corners */
    background-color: #222; /* Dark background */
    color: #ccc; /* Light text color */
    font-size: 1.4rem; /* Increased font size for better readability */
}

input[type="file"] {
    margin-top: 10px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #0070c9; /* Blue border color on focus */
    outline: none; /* Remove default focus outline */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#toggleBtn {
    margin-top: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#registerForm, #loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.hide-form {
    transform: translateX(-100%);
}

.news {
    background-color: #222; /* Dark grey background color */
    padding: 20px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1); /* Soft shadow */
}

.news h1 {
    margin-top: 0;
    font-size: 2rem;
    color: #ccc; /* Light text color */
    text-align: center;
}

a {
    color: #0070c9; /* Apple's Blue */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.github-button {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #2EA44F; /* GitHub green color */
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.github-button:hover {animation: bounce 1s infinite; background-color: #22863A;}
@keyframes bounce{
    0% {transform: translateY(0);}
    40% { transform: translateY(-5px);}
    60% { transform: translateY(-2px)}
}

label{
    color: #cccccc;
    font-size: 23px;
    font-weight: 700;
}

.stockResult p{
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #2EA44F;
}

.registerForm{
    display: flex;
    justify-content: center;
    align-content: center;
}

.loginForm{
    display: flex;
    justify-content: center;
    align-content: center;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    transition: transform 0.6s ease;
    transform: translateX(100%);
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
}
.carousel-item.active {
    transform: translateX(0);
}


.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev {
    left: 10px;
}



.carousel-control-next {
    right: 10px;
}



.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

